@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2E3440;
}

.topbar {
  width: 100%;
  padding: 0 2%;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  max-height: 3em;
  min-height: 3em;
  background-color: #2E3440;
  border-bottom: 0.175em solid #EBCB8B;
  -webkit-transition: border 400ms ease-in-out;
  transition: border 400ms ease-in-out;
  position: sticky;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topbar .menu {
  min-width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.topbar .menu i {
  font-size: 1.5rem;
  color: #D8DEE9;
}
.topbar .stats {
  min-width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.topbar .stats h4 {
  display: inline-block;
  color: #EBCB8B;
  text-align: center;
  background-color: #4C566A;
  padding: 0.25em;
  border-radius: 50%;
  margin-inline: 0.25em;
}
.topbar .stats h4:nth-child(2) {
  color: #A3BE8C;
}
.topbar .stats h4:nth-child(3) {
  color: #BF616A;
}
.topbar .stats h4:nth-child(4) {
  color: #D8DEE9;
}
.topbar .deck {
  min-width: 32%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #667da9;
}
.topbar .deck p {
  font-weight: bold;
  color: #81A1C1;
}
.topbar .deck button {
  color: inherit;
  border: none;
  background-color: transparent;
}
.topbar .deck button:hover {
  color: #EBCB8B;
  cursor: pointer;
}
.topbar .deck button i {
  font-size: 2rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  margin: 0.25em;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
.cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-width: 12em;
  max-width: 16em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.cards__card__context {
  position: relative;
  background-color: #3B4252;
  color: #E5E9F0;
  -webkit-transition: border 100ms ease-out;
  transition: border 100ms ease-out;
  border-top: 0.2em solid #EBCB8B;
  min-height: 6em;
  padding: 0.5em 0;
  z-index: 1;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards__card__context h3,
.cards__card__context p {
  text-align: center;
  color: #EBCB8B;
}
.cards__card__context p {
  text-align: center;
  padding: 0.5em 0.25em 0 0.25em;
  color: #D8DEE9;
  display: none;
  cursor: default;
  max-width: 12em;
}
.cards__card__context h4 {
  position: absolute;
  padding: 0.2em;
  top: 0;
  left: 0;
  color: #667da9;
  opacity: 0.5;
}
.cards__card__context span {
  display: none;
}
.cards__card__button {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 3em;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}
.cards__card__button button {
  border: none;
  font-family: inherit;
  background-color: #667da9;
  color: #2E3440;
  cursor: pointer;
  width: 50%;
  height: 3em;
  padding-top: 1em;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}
.cards__card__button button:first-child {
  border-right: 0.05em solid #3B4252;
}
.cards__card__button button:last-child {
  border-left: 0.05em solid #3B4252;
}
.cards__card__button button:hover {
  color: #2E3440;
  background-color: #BF616A;
}
.cards__card__button button:hover:first-child {
  background-color: #A3BE8C;
}
.cards__card__button button:active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.toolbar {
  max-width: 60%;
  min-height: 2em;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #4C566A;
  left: 50%;
  padding: 0.2em 0.4em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0.5em;
  border-radius: 1em;
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  color: #667da9;
}
.toolbar i {
  font-size: 1.25rem;
  padding: 0.2em;
  border-radius: 50%;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}
.toolbar i:hover {
  background-color: #2E3440;
  cursor: pointer;
}
.toolbar i:hover:last-child {
  color: #D08770;
}
.toolbar i:active:last-child {
  color: #EBCB8B;
}

.white {
  color: #D8DEE9;
}

.red {
  color: #BF616A;
}

.template {
  display: none;
}