$Dark01 : #4C566A;
$Dark02 : #434C5E;
$Dark03 : #3B4252;
$Dark04 : #2E3440;

$Light01 : #D8DEE9;
$Light02 : #E5E9F0;
$Light03 : #ECEFF4;

$Accent01 : #8FBCBB;
$Accent02 : #88C0D0;
$Accent03 : #81A1C1;
$Accent04 : #5E81AC;

$Ext_R : #BF616A;
$Ext_O : #D08770;
$Ext_Y : #EBCB8B;
$Ext_G : #A3BE8C;
$Ext_P : #B48EAD;